/anaconda-mode/
/auto-save-list/
/.cache/
/.extension/
/elpa/
/emms/
/irony/
/games/
/transient/
/url/
/.emacs.desktop
/.emacs.desktop.lock
/.lsp-session-v1
/.org-id-locations
/amx-items
/custom.el
/history
/recentf
/tramp
